<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Year & Level:</strong>
    <%= student.yearLevel %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= student.department.name %>
  </p>

</div>
